/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@300;400;600;700;800&display=swap');

body {
    font-family: 'Mulish', sans-serif;
    /* width: 1440px; */
}

/* Variables */
:root {
    --orange: #FF5400;
    --white: #FFFFFF;
    --gray: #131318b3;
}


/* Shared Styles */
.orange {
    color: var(--orange);
}


header,
main {
    margin: 40px 135px;
}

.banner-title,
.banner-content {
    color: var(--white);
}

.common-title {
    color: #131318;
    font-size: 2.5rem;
    font-weight: 800;
    margin-bottom: 24px;
    margin-top: 16px;
}

.gray {
    color: var(--gray);
}

.btn-primary {
    border-radius: 8px;
    background: var(--orange);
    border: 1px solid var(--orange);
    color: var(--white);
    cursor: pointer;
    width: 174px;
    height: 52px;
    padding: 8px;
    margin-top: 16px;
    font-size: 1.25rem;
    font-weight: 800;
}

/* Header Styles */

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.title-container {
    display: flex;
}

.title-container .logo {
    max-height: 56px;
    position: relative;
    top: 20px;
}

.site-title {
    color: #131318;
    font-size: 2.25rem;
    font-weight: 800;
}

/* Navbar */
.hamburger {
    display: none;
}

.nav-bar {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.nav-bar li {
    list-style: none;
    font-size: 1.125rem;
}

.nav-bar li:nth-child(1) {
    font-size: 1.125rem;
    font-weight: 700;
}

.nav-bar a {
    text-decoration: none;
    color: #424247;
}

.nav-bar a:hover {
    color: var(--orange);
}

/* Banner Section */
.banner {
    background-image: url('../images/banner.png');
    background-repeat: no-repeat;
    width: 1170px;
    height: 500px;
    border-radius: 16px;
    margin-left: auto;
    margin-right: auto;
}

.banner-container {
    border-radius: 16px;
    background: linear-gradient(180deg, rgba(19, 19, 24, 0.80) 0%, rgba(19, 19, 24, 0.00) 100%);
    text-align: center;
    width: 1170px;
    height: 500px;
}

.banner-title {
    font-size: 4rem;
    font-weight: 800;
    padding-top: 106px;
}

.banner-content {
    width: 676px;
    margin: 0 auto;
}

/* Search Box */
.search-container {
    width: 800px;
    height: 84px;
    margin: 64px auto 0 auto;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.30);
}

.search-container form {
    display: flex;
    justify-content: space-around;
    align-items: center;
    align-content: center;
    gap: 8px;
    position: relative;
    top: 16px;
}

.search-container input,
.search-container select {
    width: 174px;
    height: 52px;
    border-radius: 8px;
    background: var(--white);
    padding: 16px 15px;
    border: 1px solid var(--white);
}

/* Search Icon */

.search-container input[type="button"] {
    border-radius: 8px;
    background: var(--orange);
    border: 1px solid var(--orange);
    color: var(--white);
    cursor: pointer;
}

form .search {
    position: absolute;
    right: 120px;
    top: 14px;
}

/* Popular Tours Styles */
.popular-tours {
    display: flex;
    justify-content: space-around;
    gap: 50px;
    line-height: 26px;
}

.tour-description,
.tour-list li {
    margin-bottom: 16px;
    font-size: 1rem;
}


.tour-photo {
    width: 100%;
}

/* Choose Your Destination Styles */
.destination {
    margin-top: 96px;
}

.destination-title-container {
    text-align: center;
}

.common-title {
    margin-bottom: 24px;
}

.destination-description {
    width: 640px;
    margin: 0 auto;
}

#destination1 {
    background-image: url('../images/Maldives.png');
    background-repeat: no-repeat;
    width: 573px;
    height: 300px;
    border-radius: 16px;
}

#destination2 {
    background-image: url('../images/Indonesia.png');
    background-repeat: no-repeat;
    width: 573px;
    height: 300px;
    border-radius: 16px;
}

#destination3 {
    background-image: url('../images/Sri-Lanka.png');
    background-repeat: no-repeat;
    width: 374px;
    height: 286px;
    border-radius: 16px;
}

#destination4 {
    background-image: url('../images/North-America.png');
    background-repeat: no-repeat;
    width: 474px;
    height: 286px;
    border-radius: 16px;
}

#destination5 {
    background-image: url('../images/Kashmir.png');
    background-repeat: no-repeat;
    width: 274px;
    height: 286px;
    border-radius: 16px;
}

#destination6 {
    background-image: url('../images/Bangladesh.png');
    background-repeat: no-repeat;
    width: 473px;
    height: 300px;
    border-radius: 16px;
}

#destination7 {
    background-image: url('../images/Bandarban.png');
    background-repeat: no-repeat;
    width: 673px;
    height: 300px;
    border-radius: 16px;
}

.destination-image-container {
    margin: 48px auto;
}

.destination-bg-image {
    border-radius: 16px;
    background: linear-gradient(0deg, rgba(19, 19, 24, 0.20) 0%, rgba(19, 19, 24, 0.20) 100%);
    text-align: center;
}

.row-1,
.row-2,
.row-3 {
    display: flex;
    justify-content: space-between;
    gap: 24px;
    margin-bottom: 24px;
}

.destination-name {
    color: var(--white);
    font-size: 1.75rem;
    font-style: normal;
    font-weight: 800;
    position: relative;
    top: calc(50% - 00.875rem);
}

/* Responsive Styles */
/* Mobile Devices */
@media screen and (max-width:600px) {

    header,
    main {
        margin: 18px 20px;
    }

    /* Header and Navigation Bar Styles */
    .title-container .logo {
        max-height: 56px;
        top: -4px;
    }

    .site-title {
        font-size: 1.35rem;
    }

    .hamburger {
        display: block;
    }

    .nav-bar {
        display: none;
    }

    /* Banner Styles */
    .banner {
        width: 335px;
        height: 540px;
        /* width: 100%; */
        background-size: 100% 100%;
    }

    .banner-container {
        width: 335px;
        height: 540px;
        /* width: 100%; */
        background-size: 100% 100%;
    }

    .banner-title {
        font-size: 1.375rem;
        font-weight: 800;
        padding-top: 32px;
    }

    .banner-content {
        width: 304px;
        margin: 0 auto;
    }

    .search-container {
        width: 288px;
        height: 288px;
        margin: 48px auto 0 auto;
    }

    .search-container form {
        flex-direction: column;
        align-items: center;
        gap: 16px;
    }

    .search-container input,
    .search-container select {
        width: 255px;
        height: 52px;
    }

    form .search {
        right: 170px;
        top: 218px;
    }

    .popular-tours {
        flex-direction: column;
        gap: 24px;
    }

    .tour-description,
    .tour-list li {
        font-size: 0.875rem;
    }

    .common-title {
        font-size: 1.25rem;
        margin-bottom: 16px;
    }

    .tour-photo img,
    .destination-description {
        width: 100%;
    }

    .destination {
        margin-top: 24px;
    }
.row-1{
    margin-top: 16px;
}
    .row-1,
    .row-2,
    .row-3 {
        flex-direction: column;
        width: 100%;

    }

    #destination1,
    #destination2,
    #destination3,
    #destination4,
    #destination5,
    #destination6,
    #destination7 {
        width: 100%;
        height: 200px;
        background-size: 100% 100%;
    }

    #destination5{
        background-image: url('../images/Kashmir335px.png');
    }
    .destination-name{
        font-size: 1.25rem;
    }

}