/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@300;400;600;700;800&display=swap');

body {
    font-family: 'Mulish', sans-serif;
}

/* Variables */
:root {
    --orange: #FF5400;
    --white: #FFFFFF;
    --gray: #131318b3;
}

/* Shared Styles */
.orange {
    color: var(--orange);
}

.gray {
    color: var(--gray);
}

header,
main {
    margin: 40px 135px;
}

.banner-title,
.banner-content {
    color: var(--white);
}

.common-title {
    color: #131318;
    font-size: 2.5rem;
    font-weight: 800;
    margin-bottom: 24px;
    margin-top: 0px;
    line-height: normal;
}

.btn-primary {
    border-radius: 8px;
    background: var(--orange);
    border: 1px solid var(--orange);
    color: var(--white);
    cursor: pointer;
    width: 174px;
    height: 52px;
    padding: 8px;
    margin-top: 16px;
    font-size: 1.25rem;
    font-weight: 700;
    /* font-weight: 800; looks ugly */
}

.btn-primary:hover {
    background: var(--white);
    color: var(--orange);
}

.common-title-container {
    text-align: center;
}

.common-title {
    margin-bottom: 24px;
}

.common-description {
    width: 640px;
    margin: 0 auto;
}


/* Header Styles */
.header {
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.title-container {
    display: flex;
    gap: 16px;
}

.title-container .logo {
    height: 56px;
    position: relative;
    top: 20px;
}

.site-title {
    color: #131318;
    font-size: 2.25rem;
    font-weight: 800;
}

/* Navigation Bar */
.hamburger {
    display: none;
}

.nav-bar {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.nav-bar li {
    list-style: none;
    font-size: 1.125rem;
}

.nav-bar li:nth-child(1) {
    font-size: 1.125rem;
    font-weight: 700;
}

.nav-bar a {
    text-decoration: none;
    color: #424247;
}

.nav-bar a:hover {
    color: var(--orange);
}

/* Banner Section */
.banner {
    background-image: url('../images/banner.png');
    background-repeat: no-repeat;
    width: 1170px;
    height: 500px;
    border-radius: 16px;
    margin-left: auto;
    margin-right: auto;
}

.banner-container {
    border-radius: 16px;
    background: linear-gradient(180deg, rgba(19, 19, 24, 0.80) 0%, rgba(19, 19, 24, 0.00) 100%);
    text-align: center;
    width: 1170px;
    height: 500px;
}

.banner-title {
    font-size: 4rem;
    font-weight: 800;
    padding-top: 106px;
}

.banner-content {
    width: 676px;
    margin: 0 auto;
}

/* Search Box */
.search-container {
    width: 800px;
    height: 84px;
    margin: 64px auto 0 auto;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.30);
}

.search-container form {
    display: flex;
    justify-content: space-around;
    align-items: center;
    align-content: center;
    gap: 8px;
    position: relative;
    top: 16px;
}

.search-container input,
.search-container select {
    width: 174px;
    height: 52px;
    color: var(--gray);
    border-radius: 8px;
    background: var(--white);
    padding: 16px 15px;
    border: 1px solid var(--white);
}

/* Search Icon */

.search {
    width: 174px;
    height: 52px;
    border-radius: 8px;
    background: var(--orange);
    border: 1px solid var(--orange);
    color: var(--white);
    cursor: pointer;
    font-weight: 700;
}

.search:hover {
    color: var(--orange);
    background: var(--white);
}


/* Popular Tours and Simple Perfect Place Styles */
.popular-tours,
.perfect-place {
    display: flex;
    justify-content: space-between;
    gap: 50px;
    line-height: 26px;
    margin-top: 100px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;

}

.tour-description,
.perfect-description,
.tour-list li {
    margin-bottom: 16px;
    font-size: 1rem;
}

.popular-container,
.perfect-place-container,
.tour-list {
    width: 100%;
}

.tour-photo img {
    width: 100%;
}

.tour-photo {
    width: 100%;
}

.perfect-place ul {
    color: #131318;
    font-weight: 700;
    line-height: 162.5%;
}

.tour-video {
    position: relative;
    width: 100%;
}

.tour-video:hover {
    opacity: 88%;
    cursor: pointer;
}

.video-banner {
    position: absolute;
    top: 40%;
    right: 15%;
    text-align: center;
    color: var(--white);
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 150%;
}

video {
    border-radius: 16px;
    background: linear-gradient(180deg, #131318 -31.96%, rgba(19, 19, 24, 0.00) 100%);
    width: 100%;
}

/* Choose Your Destination Styles */
.destination {
    margin-top: 96px;
}

#destination1 {
    background-image: url('../images/Maldives.png');
    background-repeat: no-repeat;
    width: 573px;
    height: 300px;
    border-radius: 16px;
}

#destination2 {
    background-image: url('../images/Indonesia.png');
    background-repeat: no-repeat;
    width: 573px;
    height: 300px;
    border-radius: 16px;
}

#destination3 {
    background-image: url('../images/Sri-Lanka.png');
    background-repeat: no-repeat;
    width: 374px;
    height: 286px;
    border-radius: 16px;
}

#destination4 {
    background-image: url('../images/North-America.png');
    background-repeat: no-repeat;
    width: 474px;
    height: 286px;
    border-radius: 16px;
}

#destination5 {
    background-image: url('../images/Kashmir.png');
    background-repeat: no-repeat;
    width: 274px;
    height: 286px;
    border-radius: 16px;
}

#destination6 {
    background-image: url('../images/Bangladesh.png');
    background-repeat: no-repeat;
    width: 473px;
    height: 300px;
    border-radius: 16px;
}

#destination7 {
    background-image: url('../images/Bandarban.png');
    background-repeat: no-repeat;
    width: 673px;
    height: 300px;
    border-radius: 16px;
}

.destination-image-container {
    margin: 48px auto;
}

.destination-bg-image {
    border-radius: 16px;
    background: linear-gradient(0deg, rgba(19, 19, 24, 0.20) 0%, rgba(19, 19, 24, 0.20) 100%);
    text-align: center;
    cursor: pointer;
}

.destination-bg-image:hover {
    opacity: 90%;
}

.destination-bg-image:hover .destination-name {
    color: var(--orange);
}

.row-1,
.row-2,
.row-3 {
    display: flex;
    justify-content: space-between;
    gap: 24px;
    margin-bottom: 24px;
}

.destination-name {
    color: var(--white);
    font-size: 1.75rem;
    font-style: normal;
    font-weight: 800;
    position: relative;
    top: calc(50% - 00.875rem);
}

/* Why Choose Us Styles */
.choose-us {
    margin-top: 100px;
}

.choose-reason-container {
    margin-top: 48px;
}

.choose-row-1 {
    display: flex;
    justify-content: space-between;
    gap: 24px;
}

.reason-title {
    color: #131318;
    font-size: 1.5rem;
    font-weight: 800;
}

.choose-reason {
    border-radius: 16px;
    padding: 32px;
    width: 50%;
    height: 284px;
}

#reason-1 {
    border: 1px solid rgba(251, 181, 99, 0.20);
    background: rgba(251, 181, 99, 0.05);
}

#reason-2 {
    border: 1px solid rgba(41, 206, 246, 0.20);
    background: rgba(41, 206, 246, 0.05);
}

#reason-3 {
    margin: 24px auto;
    border: 1px solid rgba(233, 68, 68, 0.20);
    background: rgba(233, 68, 68, 0.05);
}

.reason-description {
    padding-right: 23px;
}

/* Visa Styles */
.extra-unique {
    margin-top: 96px;
}

.unique-container {
    text-align: center;
    background-color: #c2521a20;
    padding: 20px;
    box-shadow: 8px 10px 12px var(--orange);
}

.visa-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 24px;
}

.unique-title {
    color: #131318;
    font-size: 1.5rem;
    font-weight: 800;
}

.visa-consultant img {
    width: 40%;
}

.visa-consultant img:hover {
    transform: rotate(360deg);
    transition: transform 4s ease-in-out 0.1s;
}

.visa-contact a {
    text-decoration: none;
    color: var(--gray);
    font-size: 1.2rem;
}

.visa-contact a:hover {
    color: var(--orange);
}

/* Newsletter Section Styles */
.newsletter {
    display: flex;
    justify-content: space-between;
    gap: 24px;
    padding: 0;
    margin-top: 100px;
}

.newsletter-title {
    margin-top: 0;
    color: #131318;
    font-size: 1.5rem;
    font-weight: 800;
}

.newsletter-container {
    color: var(--gray);
    background-color: var(--white);
    border-radius: 16px;
    border: 1px solid var(--orange);
    padding: 40px;
    width: 474px;
    margin: 0;
}

hr {
    border: 1px solid rgba(19, 19, 24, 0.10);
    margin: 24px 0;
}

.newsletter form {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.newsletter input {
    height: 52px;
    width: calc(100%-40px);
    border-radius: 8px;
    padding: 0 20px;
    border: none;
    background: rgba(19, 19, 24, 0.05);
}

.newsletter input[type="submit"] {
    border-radius: 8px;
    background: var(--orange);
    border: 1px solid var(--orange);
    color: var(--white);
    cursor: pointer;
    height: 52px;
    padding: 8px;
    font-size: 1.25rem;
    font-weight: 800;
    margin-top: 8px;
}

.newsletter input[type="submit"]:hover {
    color: var(--orange);
    background: var(--white);
}

.offer-container {
    width: 672px;
    height: 422px;
    border-radius: 16px;
    background: url('../images/offer.png'), lightgray 50% / cover no-repeat;
    position: relative;

}

.offer-stamp {
    position: absolute;
    color: var(--white);
    text-align: center;
    right: 7px;
    bottom: 47px;
    width: 324px;
    height: 120px;
    transform: rotate(-19.628deg);
    border-radius: 16px;
    background: var(--orange);
    cursor: pointer;
    border: 1px solid var(--orange);
}

.offer-stamp:hover,
.offer-stamp a:hover {
    color: var(--orange);
    background: var(--white);
}

.offer-stamp:hover a {
    color: var(--orange);
    background: var(--white);
}

.offer-stamp a {
    text-decoration: none;
    color: var(--white);
    position: relative;
    top: 25%;
}

.offer {
    font-size: 2rem;
    font-weight: 800;
    position: relative;
    top: 25%;
}

/* Footer Styles */
footer {
    margin-top: 100px;
}

.footer {
    background: rgba(19, 19, 24, 0.05);
    text-align: center;
    padding-top: 60px;
}

.footer-logo-container {
    display: flex;
    justify-content: center;
    gap: 16px;
}

.footer-logo-container .footer-logo {
    height: 46px;
    position: relative;
    top: 20px;
}

.footer-logo-title {
    color: #131318;
    font-size: 2rem;
    font-weight: 800;
}

.footer-text {
    width: 54%;
    margin: 0 auto;
}

.social-links {
    display: flex;
    justify-content: center;
    gap: 16px;
    margin-top: 32px;
}

.social {
    text-decoration: none;
    color: #131318;
}

.social:hover {
    color: var(--orange);
}

footer hr {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
}

.copyright {
    padding-bottom: 100px;
}


/* Responsive Styles */
/* Mobile Devices */
@media screen and (max-width:600px) {

    header,
    main {
        margin: 18px 20px;
    }

    /* Header and Navigation Bar Responsive Styles */
    .title-container {
        gap: 10px;
    }

    .title-container .logo {
        height: 56px;
        top: -4px;
    }

    .site-title {
        font-size: 1.35rem;
    }

    .hamburger {
        display: block;
    }

    .nav-bar {
        display: none;
    }

    /* Banner Responsive Styles */
    .banner {
        width: 100%;
        height: 540px;
        background-image: url('../images/banner360px.png');
        background-size: 100% 100%;
    }

    .banner-container {
        width: 100%;
        height: 540px;
        background-size: 100% 100%;
    }

    .banner-title {
        font-size: 1.375rem;
        font-weight: 800;
        padding-top: 32px;
    }

    .banner-content {
        width: 80%;
        margin: 0 auto;
    }

    .search-container {
        width: 80%;
        height: 288px;
        margin: 48px auto 0 auto;
    }

    .search-container form {
        flex-direction: column;
        align-items: center;
        gap: 16px;
    }

    .search-container input,
    .search-container select,
    .search {
        width: 90%;
        height: 52px;
    }


    /* Popular Tours and Simple Perfect Place Responsive Styles */
    .popular-tours,
    .perfect-place {
        flex-direction: column;
        gap: 24px;
        margin-top: 24px;
        width: 100%;

    }

    .tour-description,
    .tour-list li {
        font-size: 0.875rem;
    }

    .common-title {
        font-size: 1.25rem;
        margin-bottom: 16px;
    }

    .tour-photo,
    .tour-video {
        width: 100%;

    }

    .tour-photo img,
    .common-description {
        width: 100%;
    }

    .video-banner {
        right: 13%;
    }

    /* Choose Your Destination Responsive Styles */
    .destination,
    .newsletter {
        margin-top: 24px;
    }

    .row-1 {
        margin-top: 16px;
    }

    .row-1,
    .row-2,
    .row-3 {
        flex-direction: column;
        width: 100%;
    }

    #destination1,
    #destination2,
    #destination3,
    #destination4,
    #destination5,
    #destination6,
    #destination7 {
        width: 100%;
        height: 200px;
        background-size: 100% 100%;
    }

    #destination5 {
        background-image: url('../images/Kashmir335px.png');
    }

    .destination-name {
        font-size: 1.25rem;
    }

    /* Choose Us Responsive Styles */
    .choose-reason-container {
        margin-top: 24px;
        width: 100%;
    }

    .choose-row-1 {
        flex-direction: column;
        justify-content: center;
        width: 100%;
    }

    .reason-title {
        font-size: 1.25rem;
    }

    .choose-reason {
        width: 82%;
        height: 290px;
    }

    #reason-1,
    #reason-2,
    #reason-3 {
        margin-left: auto;
        margin-right: auto;
    }

    .reason-description {
        padding-right: 0;
    }

    /* Visa Styles */
    .extra-unique {
        margin-top: 32px;
        margin-bottom: 40px;
        display: flex;
        justify-content: center;
    }

    .unique-container {
        width: 86%;
        margin: 0 auto;
    }

    .visa-container {
        flex-direction: column;
    }

    /* Newsletter Responsive Styles */
    .newsletter {
        flex-direction: column;
        justify-content: center;
    }

    .newsletter-container {
        width: 77%;
        margin: 0 auto;
    }

    .offer-container {
        width: 100%;
        height: 300px;
        background-size: 100% 100%;
    }

    .offer-stamp {
        border-radius: 12px;
        right: 8px;
        bottom: 32px;
        width: 214px;
        height: 80px;
    }

    .offer-stamp a {
        text-decoration: none;
        color: var(--white);
        top: 25%;
    }

    .offer {
        font-size: 1.31rem;
        top: 25%;
    }

    /* Footer Section Responsive Styles */
    footer,
    .choose-us {
        margin-top: 32px;
    }

    .footer {
        padding-top: 34px;
    }

    .footer-logo-container {
        gap: 10px;
    }

    .footer-logo-container .footer-logo {
        height: 34px;
        top: 13px;
    }

    .footer-logo-title {
        font-size: 1.35rem;
    }

    .social-links {
        margin-top: 16px;
    }

    footer hr {
        width: 90%;
    }

    .copyright {
        padding-bottom: 32px;
    }
}